{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}playroom{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <a class="playroom" href="{% url 'playroom:playroom' %}">>playroom</a>
            <div class="block_topics_6">
                <a class="dellink" href="{% url 'playroom:playroom' %}">
                    <img class="heart1" src="{% static 'images/computer1.gif' %}" height="80px" width="80px">
                </a></br>
                {% for topic in topics %}
                    <a class="topic" href="{% url 'playroom:topic' topic.pk %}">{{ topic.name }}</a><br>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div class="block_task_6">
                <a class="dellink" href="{% url 'playroom:playroom' %}"><img class="heart1" src="{% static 'images/cat2.gif' %}" height="70px" width="70px"></a><br>
                {% for task in tasks %}
                    <a class="task" href="{% url 'playroom:task_detail' pk=task.pk %}">{{ task.title }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}