{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="block">
                <img class="rainbow1" src="{% static 'images/spudik2.gif' %}" height="120px" width="90px">
                <a class="a1" href="https://chrismckenzie.com/" target="_blank">ez</a><br>
                <p class="p1">enter your email address to obtain a new password</p><br>
                <form class="form" action="." method="post">
                    {{ form.as_p }}
                    <input class="input" type="submit" value="send">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}