{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}Activation{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="block">
                <р class="p1">ops...activation error</р>
                <а class="reglink" href="{% url 'account:register' %}">register</а>
                <a class="reglink" href="{% url 'account:register' %}"><img class="rainbow1" src="{% static 'images/rainbow1.gif' %}" height="90px" width="90px"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
