{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}edit your account{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="block">
                <a class="login1" href="{% url 'account:edit' %}">settings</a><br><br><br>
                <form class="form" action="." method="post" enctype="multipart/form-data">
                    <div class="form_photo">
                        {% if request.user.photo %}
                            <img class="userphoto1" src="{{ request.user.photo.url }}" height="90px" width="90px"><br><br>
                            <div class="form_label">
                                <label >photo</label>
                            </div>
                            <div class="form_field">
                                <input type="file" name="{{ form.photo.name }}">
                            </div>
                        {% else %}
                            <div class="form_label">
                                <label >photo</label>
                            </div>
                            <div class="form_field">
                                <input type="file" name="{{ form.photo.name }}">
                            </div>
                        {% endif %}
                    </div>
                    <div class="form_username">
                        <div class="form_label">
                            <label>username</label>
                        </div>
                        <div class="form_field">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form_firstname">
                        <div class="form_label">
                            <label>first name</label>
                        </div>
                        <div class="form_field">
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="form_lastname">
                        <div class="form_label">
                            <label>last name</label>
                        </div>
                        <div class="form_field">
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form_email">
                        <div class="form_label">
                            <label>email</label>
                        </div>
                        <div class="form_field">
                            {{ form.email }}
                        </div>
                    </div><br><br>
                    {% csrf_token %}
                    <input class="save" type="submit" value="save"><br><br>
                </form>
                <a class="passwordlink" href="{% url 'account:password_change' %}">change password </a>
                <a class="dellink" href="{% url 'account:delete_user' %}"> delete account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}