{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}edit your account{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="block">
                <a class="playroomlink" href="{% url 'account:edit' %}">settings</a>
                <form class="form" action="." method="post" enctype="multipart/form-data">
                    {% if request.user.photo %}
                        <img class="userphoto" src="{{ request.user.photo.url }}" height="90px" width="90px"><br><br>
                        <a class="photoform">{{ form.photo.label_tag }} <input class="chosephoto" type="file" name="{{ form.photo.name }}"></a><br><br>
                    {% else %}
                        <a class="photoform">{{ form.photo.label_tag }} <input class="chosephoto" type="file" name="{{ form.photo.name }}"></a><br><br>
                    {% endif %}
                    <a class="form">{{ form.username.label_tag }} {{ form.username }}</a><br>
                    <a class="form">{{ form.first_name.label_tag }} {{ form.first_name }}</a><br>
                    <a class="form">{{ form.last_name.label_tag }} {{ form.last_name }}</a><br>
                    <a class="form">{{ form.email.label_tag }} {{ form.email }}</a><br>
                    {% csrf_token %}
                    <input class="input" type="submit" value="save changes"><br><br>
                </form>
                <a class="passwordlink" href="{% url 'account:password_change' %}">change your password </a>
                <a class="dellink" href="{% url 'account:delete_user' %}">delete account</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}