{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}logout{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="block">
                <a class="a1" href="https://pointerpointer.com/" target="_blank"><img class="cry1" src="{% static 'images/cat1.png' %}" height="110px" width="110px"></a><br>
                <p class="p1">successfully logget out</p><br>
                <a class="a1" href="https://pointerpointer.com/" target="_blank">psss fun?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}