{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}change you password{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="block">
                {% if form.errors %}
                    <p class="p1">password = not a commonly used password + not entirely numeric + must contain at least 8 characters</p><br>
                {% else %}
                    <p class="p1">shhh</p><br>
                {% endif %}
                <form  class="form" action="." method="post">
                    <a class="form">{{ form.old_password.label_tag }} {{ form.old_password }}</a><br><br>
                    <a class="form">{{ form.new_password1.label_tag }} {{ form.new_password1 }}</a><br><br>
                    <a class="form">{{ form.new_password2.label_tag }} {{ form.new_password2 }}</a><br>
                    <input class="input" type="submit" value="change">
                    {% csrf_token %}
                </form>
                <a class="reglink" href="{% url 'account:password_change' %}"><img class="cry1" src="{% static 'images/sakuratree1.gif' %}" height="160px" width="110px"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}