{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}profile{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if request.user.is_authenticated %}
            <div class="col">
                <a class="profile" href="{% url 'account:profile' %}">>profile</a><br><br><br>
                <div class="block">
                    {% if request.user.photo %}
                        <img class="userphoto1" src="{{ request.user.photo.url }}" height="70px" width="70px"><br><br>
                    {% endif %}
                </div>
            </div>
            <div class="col-12">
                <div class="block">
                    <a class="editlink" href="{% url 'account:edit' %}">edit</a><br>
                    <a class="reglink" href="{% url 'account:edit' %}"><img class="heart1" src="{% static 'images/cube1.gif' %}" height="70px" width="70px"></a>
                </div>
            </div>
        {% else %}
            <div class="block">
                {% if form.errors %}
                    <a class="reglink" href="{% url 'account:login' %}"><img class="cry1" src="{% static 'images/cry1.gif' %}" height="120px" width="120px"></a>
                    <p class="p1">ops...<br>username and password didnt match</p><br>
                    <form class="form" action="{% url 'account:login' %}" method="post">
                        <div class="form_username">
                            <div class="form_label">
                                <label>username</label>
                            </div>
                            <div class="form_field">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form_password">
                            <div class="form_label">
                                <label>password</label>
                            </div>
                            <div class="form_field">
                                {{ form.password }}
                            </div>
                        </div>
                        {% csrf_token %}
                        <input class="save" type="hidden" name="next" value="{{ next }}"/><br>
                        <input class="save" type="submit" value="login">
                    </form><br>
                    <a class="forgottenlink" href="{% url 'account:password_reset' %}">errors?</a><br><br>
                    <a class="reglink" href="{% url 'account:register' %}">register</a><br><br>
                    <a class="reglink" href="{% url 'account:register' %}"><img class="rainbow1" src="{% static 'images/rainbow1.gif' %}" height="70px" width="70px"></a>
                {% else %}
                    <a class="a1"><img class="rainbow1" src="{% static 'images/cat2.gif' %}" height="90px" width="90px"></a>
                    <form class="form" action="{% url 'account:login' %}" method="post">
                        <div class="form_username">
                            <div class="form_label">
                                <label>username</label>
                            </div>
                            <div class="form_field">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="form_password">
                            <div class="form_label">
                                <label>password</label>
                            </div>
                            <div class="form_field">
                                {{ form.password }}
                            </div>
                        </div>
                        {% csrf_token %}
                        <input class="save" type="hidden" name="next" value="{{ next }}"/><br>
                        <input class="save" type="submit" value="login">
                    </form><br>
                    <a class="forgottenlink" href="{% url 'account:password_reset' %}">errors?</a><br><br>
                    <a class="reglink" href="{% url 'account:register' %}">register</a><br><br>
                    <a class="reglink" href="{% url 'account:register' %}"><img class="rainbow1" src="{% static 'images/rainbow1.gif' %}" height="70px" width="70px"></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}