{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}create an account{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="block">
                <a class="a1" href="https://chrismckenzie.com/" target="_blank"><img class="rainbow1" src="{% static 'images/catpow1.gif' %}" height="90px" width="90px"></a>
                <a class="f" href="https://chrismckenzie.com/" target="_blank">fun</a><br>
                <a class="n"><img class="rainbow1" src="{% static 'images/arrow1.gif' %}" height="90px" width="80px"></a><br>
                {% if user_form.errors %}
                    <p class="p1">username = required 150 characters or fewer letters digits and @/./+/-/_ only
                                  password = can’t be too similar to your other personal information 
                                           = can’t be entirely numeric 
                                           = can’t be a commonly used password
                                           = must contain at least 8 characters
                    </p><br><br>
                {% endif %}
                <form class="form" action="." method="post">
                    <a class="form">{{ form.username.label_tag }} {{ form.username }}</a><br>
                    <a class="form">{{ form.email.label_tag }} {{ form.email }}</a><br><br>
                    <a class="form">{{ form.password1.label_tag }} {{ form.password1 }}</a><br>
                    <a class="form">{{ form.password2.label_tag }} {{ form.password2 }}</a><br><br>
                    {% csrf_token %}
                    <input class="input" type="submit" value="create">
                </form>
                <a class="reglink" href="{% url 'account:register' %}"><img class="heart1" src="{% static 'images/cube1.gif' %}" height="90px" width="90px"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}