{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}create an account{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="block">
                <a class="reglink" href="{% url 'account:register' %}"><img class="heart1" src="{% static 'images/cube1.gif' %}" height="70px" width="70px"></a><br><br>
                {% if user_form.errors %}
                    <p class="p1">username = required 150 characters or fewer letters digits and @/./+/-/_ only
                                  password = can’t be too similar to your other personal information 
                                           = can’t be entirely numeric 
                                           = can’t be a commonly used password
                                           = must contain at least 8 characters
                    </p><br><br>
                {% endif %}
                <form class="form" action="." method="post">
                    <div class="form_username">
                        <div class="form_label">
                            <label>username</label>
                        </div>
                        <div class="form_field">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form_email">
                        <div class="form_label">
                            <label>email</label>
                        </div>
                        <div class="form_field">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form_password1">
                        <div class="form_label">
                            <label>password</label>
                        </div>
                        <div class="form_field">
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="form_password1">
                        <div class="form_label">
                            <label>repeat password</label>
                        </div>
                        <div class="form_field">
                            {{ form.password2 }}
                        </div>
                    </div><br><br>
                    {% csrf_token %}
                    <input class="save" type="submit" value="create">
                </form><br>
                <a class="f" href="https://chrismckenzie.com/" target="_blank">psss fun?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}