{% extends "base.html" %}
{% load static %}
{% block title %}{{ current_topic.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <a class="yummypython" href="{% url 'yummypython:yummypython' %}">>yummypython</a>
            <div class="block_topics_6">
                <a class="dellink" href="{% url 'yummypython:subtopics_by_topic' current_topic.pk %}">
                    <img class="heart1" src="{% static 'images/light1.gif' %}" height="70px" width="70px">
                </a></br>
                <a class="currenttopic" href="{% url 'yummypython:subtopics_by_topic' current_topic.pk %}">>>>{{ current_topic.name }}</a><br>
                {% for topic in topics %}
                    <a class="topic" href="{% url 'yummypython:subtopics_by_topic' topic.pk %}">{{ topic.name }}</a><br>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div class="block_subtopics">
                <a class="dellink" href="{% url 'yummypython:subtopics_by_topic' current_topic.pk %}">
                    <img class="heart1" src="{% static 'images/computer1.gif' %}" height="80px" width="80px">
                </a></br>
                {% for subtopic in subtopics %}
                    <a class="topic" href="{% url 'yummypython:subtopic_detail' pk=subtopic.pk %}">{{ subtopic.name }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
