{% extends "base.html" %}
{% load static %}
{% load martortags %}
{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block title %}{{ subtopic.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <a class="yummypython" href="{% url 'yummypython:yummypython' %}">>yummypython</a>
            <div class="martor-preview">
                <p class="detail">>>>{{ subtopic.topic }}</p>
                <hr>
                {{ subtopic.content|safe_markdown }}
            </div>
        </div>
        <div class="col-3">
            <div class="block_topics_3">
                <a class="dellink" href="{% url 'yummypython:subtopic_detail' pk=subtopic.pk %}">
                    <img class="heart1" src="{% static 'images/light1.gif' %}" height="70px" width="70px">
                </a></br>
                {% for topic in topics %}
                    <a class="topic" href="{% url 'yummypython:subtopics_by_topic' topic.pk %}">{{ topic.name }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('.martor-preview pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
  </script>
{% endblock %}
