{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block title %}yummy python{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="yummypython" href="{% url 'yummypython:yummypython' %}">>yummypython</a>
            <div class="block_topics_12">
                <a class="dellink" href="{% url 'yummypython:yummypython' %}">
                    <img class="heart1" src="{% static 'images/light1.gif' %}" height="80px" width="80px">
                </a></br>
                {% for topic in topics %}
                    <a class="topic" href="{% url 'yummypython:subtopics_by_topic' topic.pk %}">{{ topic.name }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}